.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#fullscreen-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #222;
}

.measure {
  border: 1px solid black;
  margin: 8px;
  padding: 5px;
  height: 100px;
  float: left;
  position: relative
}

.chord {
  position: absolute;
}

.lyric {
  position: absolute;
}

.beat {
  border-right: 1px solid blue;
  height: 100px;
  position: absolute
}

.marker {
  height:10px;
  width: 10px;
  top: 30px;
  background-color: red;
  position: absolute;
}


.beat1 {
  animation-name: beat1;
  left: 100px;
}

.beat2 {
  animation-name: beat2;
  left: 200px;
}
.beat3 {
  animation-name: beat3;
  left: 300px;
}
.beat4 {
  animation-name: beat4;
  left: 400px;
}

@keyframes beat1 {
  from {
    left: 0px;
  }
  to {
    left:100px;
  }
}
@keyframes beat2 {
  from {
    left: 100px;
  }
  to {
    left: 200px;
  }
}
@keyframes beat3 {
  from {
    left: 200px;
  }
  to {
    left:300px;
  }
}
@keyframes beat4 {
  from {
    left: 300px;
  }
  to {
    left:400px;
  }
}

#header {
  height: 150px;
}

#songscroller {
  position: relative;
  overflow: auto;
  height: 700px
}
